In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [24]:
features = pd.read_csv('./data/features_numeric.csv')
display(features.head())

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,-0.679436,-2.042478,-0.22661,-1.626185,-0.272201,-2.175870,-0.747788,1.401639,0.690311,-0.531568,...,0.465442,-0.827124,2.068808,1.074551,-0.562720,0.794763,1.129841,1.416875,0.361274,1.066170
1,1.517658,1.193048,-0.22661,0.614936,-0.272201,0.459586,-0.747788,1.401639,0.690311,-0.531568,...,0.465442,1.209008,2.068808,1.074551,1.777084,-0.860782,-1.364875,-1.012379,0.361274,1.066170
2,-0.679436,-0.424715,-0.22661,0.614936,-0.272201,-2.175870,-0.747788,-0.713450,-1.448623,-0.531568,...,0.465442,1.209008,-0.786206,1.074551,-0.562720,-0.860782,1.486229,-1.012379,0.660871,1.354578
3,-0.679436,-0.424715,-0.22661,0.614936,-0.272201,0.459586,1.337277,-0.713450,-1.448623,-0.531568,...,0.465442,-0.827124,2.068808,1.074551,1.777084,0.794763,0.060677,0.202248,0.660871,1.354578
4,0.419111,-0.424715,-0.22661,0.614936,-0.272201,0.459586,1.337277,-0.713450,0.690311,-0.531568,...,0.465442,-0.827124,-0.786206,-0.930622,-0.562720,-0.860782,1.486229,-1.012379,1.260065,-0.952684

In [25]:
labels = pd.read_csv('./data/labels.csv')
labels = labels.drop(['respondent_id'], axis=1)
display(labels.head())

   h1n1_vaccine  seasonal_vaccine
0             0                 0
1             0                 1
2             0                 0
3             0                 1
4             0                 0

In [26]:
X_train, X_test, y_train, y_test = train_test_split(features, 
                                                    labels, 
                                                    test_size=0.4, 
                                                    random_state=40)

In [27]:
display(X_train.head())
display(y_train.head())

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
18861,-0.679436,1.193048,-0.226610,0.614936,-0.272201,0.459586,-0.747788,-0.71345,-1.448623,-0.531568,...,0.465442,-0.827124,0.641301,-0.930622,-0.562720,-0.860782,1.129841,0.202248,-0.837116,-1.385296
4728,-0.679436,-0.424715,4.412877,0.614936,-0.272201,0.459586,-0.747788,-0.71345,0.690311,-0.531568,...,0.465442,1.209008,0.641301,-0.930622,-0.562720,-0.860782,1.129841,1.416875,1.559663,0.777763
10453,0.419111,-0.424715,-0.226610,0.614936,-0.272201,0.459586,-0.747788,-0.71345,0.690311,1.881227,...,-2.784094,-0.827124,-0.786206,-0.930622,1.777084,-0.860782,-0.652099,1.416875,-0.237921,-0.664276
7228,0.419111,-0.424715,-0.226610,0.614936,-0.272201,0.459586,-0.747788,-0.71345,-1.448623,1.881227,...,0.465442,-0.827124,0.641301,-0.930622,-0.562720,0.794763,0.417065,-1.012379,1.559663,1.210374
307,-1.777982,1.193048,-0.226610,0.614936,-0.272201,0.459586,-0.747788,-0.71345,0.690311,-0.531568,...,0.465442,1.209008,-0.786206,-0.930622,1.777084,-0.860782,1.129841,1.416875,-0.687317,-1.241092

       h1n1_vaccine  seasonal_vaccine
18861             1                 1
4728              0                 1
10453             0                 1
7228              1                 1
307               1                 1

In [28]:
X_train.to_csv("./data/X_train.csv", index=False)
X_test.to_csv("./data/X_test.csv", index=False)

y_train.to_csv("./data/y_train.csv", index=False)
y_test.to_csv("./data/y_test.csv", index=False)

In [29]:
display(X_train.shape, y_train.shape)

(16024, 35)

(16024, 2)

In [30]:
display(X_test.shape, y_test.shape)

(10683, 35)

(10683, 2)